@page "/Admin/check-out/{billOfSaleId}"
@model WhiteSandsMVC.Pages.Admin.CheckOutModel
@{
    ViewBag.Title = "Check Out";
}
<div class="admin-heading">
    <h1 class="h1-heading">Check Out</h1>
</div>

<div class="check-out-body">
    <div class="check-out-invoice-wrapper">

        <div class="verify-stay-heading-wrapper">
            <h3 class="verify-stay-h2-heading">Invoice</h3>
            @*<a asp-page="/Admin/Booking/edit/room" asp-route-bookingId="@Model.Input.Booking.Id" class="booking-details-edit-entry">Go to Statement</a>*@
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Status</h4>
            <p class="booking-details-row-info">@Model.Input.PaymentStatus</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Charges</h4>
            @foreach (var charge in Model.Input.LineItemCharges)
            {
                <div class="booking-details__line-item-row">
                    <span class="booking-details__line-item-price">$@string.Format("{0:0.00}", charge.Amount)</span>
                    <span class="booking-details-row-info">@charge.Name</span>
                </div>

            }
            <hr class="booking-details-hr" />
            <h4 class="booking-details-heading">Total</h4>
            <p class="booking-details-row-info text-bold">$@string.Format("{0:0.00}", Model.Input.TotalCost)</p>
        </div>
    </div>

    @*<div class="check-out-payment-wrapper">
        <div class="verify-stay-heading-wrapper">
            <h3 class="verify-stay-h2-heading">Payment Method</h3>
            <a asp-page="/Admin/Booking/edit/payment" asp-route-guestId="@Model.Input.Booking.GuestId" asp-route-bookingId="@Model.Input.Booking.Id" class="booking-details-edit-entry">Edit Entry</a>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Credit Card Name</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.Guest.NameOnCreditCard</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Credit Card Number</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.Guest.CreditCardNumber</p>
        </div>

        <div class="booking-details-row--credit-card">
            <div>
                <h4 class="booking-details-heading">Expiry Month</h4>
                <p class="booking-details-row-info">@Model.Input.Booking.Guest.CreditCardExpiryMonth</p>

            </div>
            <div>
                <h4 class="booking-details-heading">Expiry Year</h4>
                <p class="booking-details-row-info">@Model.Input.Booking.Guest.CreditCardExpiryYear</p>
            </div>
        </div>
    </div>*@
</div>
