@page "/Admin/check-in/step-one/{id}"
@model WhiteSandsMVC.Pages.Admin.check_in.StepOneVerifyStayModel
@{
    ViewBag.Title = "Check In - Step One";
}

<div class="verify-stay-page-heading">
    <h1 class="h1-heading">Check In</h1>
</div>

<h2 class="h3-heading">Step 1: Verify Details</h2>

<div class="verify-stay-wrapper">
    <div class="verify-stay-guest-info">
        <div class="verify-stay-heading-wrapper">
            <h3 class="verify-stay-h2-heading">Guest</h3>
            <a asp-page="/admin/check-in/edit/guest" asp-route-guestId="@Model.Input.Booking.GuestId" asp-route-bookingId="@Model.Input.Booking.Id" class="verify-stay-edit-entry">Edit Entry</a>
        </div>

        <div class="verify-stay-row">
            <h4 class="verify-stay-heading">Name</h4>
            <p class="verify-stay-row-info">@(Model.Input.Booking.Guest.FirstName + " " + Model.Input.Booking.Guest.LastName)</p>
        </div>

        <div class="verify-stay-row">
            <h4 class="verify-stay-heading">Phone Number</h4>
            <p class="verify-stay-row-info">@Model.Input.Booking.Guest.PhoneNumber</p>
        </div>

        <div class="verify-stay-row">
            <h4 class="verify-stay-heading">Email</h4>
            <p class="verify-stay-row-info">@Model.Input.Booking.Guest.Email</p>
        </div>

        <div class="verify-stay-row">
            <h4 class="verify-stay-heading">Country</h4>
            <p class="verify-stay-row-info">@Model.Input.Booking.Guest.Country</p>
        </div>

        <div class="verify-stay-heading-wrapper">
            <h3 class="verify-stay-h2-heading">Stay</h3>
            <a asp-page="/admin/check-in/edit/stay" asp-route-bookingId="@Model.Input.Booking.Id" class="verify-stay-edit-entry">Edit Entry</a>
        </div>

        <div class="verify-stay-row">
            <h4 class="verify-stay-heading">Check in</h4>
            <p class="verify-stay-row-info">@Model.Input.Booking.CheckInDate.ToShortDateString()</p>
        </div>

        <div class="verify-stay-row">
            <h4 class="verify-stay-heading">Check out</h4>
            <p class="verify-stay-row-info">@Model.Input.Booking.CheckOutDate.ToShortDateString()</p>
        </div>

        <div class="verify-stay-row">
            <h4 class="verify-stay-heading">Nights</h4>
            <p class="verify-stay-row-info">@Model.Input.Booking.Nights</p>
        </div>
    </div>

    <div class="verify-stay-room-info">
        <div class="verify-stay-heading-wrapper">
            <h3 class="verify-stay-h2-heading">Room</h3>
            <a asp-page="/Admin/check-in/edit/room" asp-route-bookingId="@Model.Input.Booking.Id" class="verify-stay-edit-entry">Edit Entry</a>
        </div>

        

        <div class="verify-stay-row">
            <h4 class="verify-stay-heading">Room Type</h4>
            <p class="verify-stay-row-info">@Model.Input.Booking.RoomType.Name</p>
        </div>

        <div class="verify-stay-row">
            <h4 class="verify-stay-heading">Room Number</h4>
            <p class="verify-stay-row-info">@Model.Input.Booking.Room.RoomNumber</p>
        </div>

        <div class="verify-stay-row">
            <h4 class="verify-stay-heading">Status</h4>
            <p class="verify-stay-row-info">@Model.Input.Booking.Status</p>
        </div>

        <div class="verify-stay-row">
            <h4 class="verify-stay-heading">Notes</h4>
            <p class="verify-stay-row-info">@Model.Input.Booking.Notes</p>
        </div>
    </div>

</div>

<div class="verify-stay-buttons">
    <a asp-page="/admin/arrivals" class="large-btn mt-3" style="display: block; width: max-content;">&larr; Back to List</a>
    <a asp-page="/admin/check-in/StepTwoBilling" asp-route-bookingId="@Model.Input.Booking.Id" class="large-btn mt-3" style="display: block; width: max-content;">Next &rarr;</a>
</div>