@page "{id}"
@model WhiteSandsMVC.Pages.Admin.Bookings.DetailsModel
@{
    ViewBag.Title = "Admin - Booking Details";
}

<div class="admin-heading">
    <h1 class="h1-heading">Booking Details</h1>
</div>


<div class="booking-details-wrapper">
    <div class="booking-details-guest-info">
        <div class="booking-details-heading-wrapper">
            <h3 class="h2-heading">Guest</h3>
            <a asp-page="/admin/bookings/edit/guest" asp-route-guestId="@Model.Input.Booking.GuestId" asp-route-bookingId="@Model.Input.Booking.Id" class="booking-details-edit-entry">Edit Entry</a>
        </div>
        <div class="booking-details-row">
            <h4 class="booking-details-heading">Name</h4>
            <p class="booking-details-row-info">@(Model.Input.Booking.Guest.FirstName + " " + Model.Input.Booking.Guest.LastName)</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Phone Number</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.Guest.PhoneNumber</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Email</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.Guest.Email</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Country</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.Guest.Country</p>
        </div>

        <div class="booking-details-heading-wrapper">
            <h3 class="h2-heading">Billing</h3>
            <a asp-page="/Admin/Billing/Invoice" asp-route-billOfSaleId="@Model.Input.Booking.BillOfSaleId" class="booking-details-edit-entry">View Invoice To Edit</a>
        </div>

        <div class="booking-details-row">
                <h4 class="booking-details-heading">Payment Status</h4>
                <p class="booking-details-row-info">@Model.Input.Booking.BillOfSale.PaymentStatus</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Charges</h4>
            @foreach (var charge in Model.Input.LineItemCharges)
            {
                <div class="booking-details__line-item-row">
                    <span class="booking-details__line-item-price">$@string.Format("{0:0.00}", charge.Amount)</span>
                    <span class="booking-details-row-info">@charge.Name</span>
                </div>

            }
            <hr class="booking-details-hr" />
            <h4 class="booking-details-heading">Total</h4>
            <p class="booking-details-row-info text-bold">$@string.Format("{0:0.00}", Model.Input.TotalCost)</p>
        </div>





    </div>

    <div class="booking-details-basic-info">
        <div class="booking-details-heading-wrapper">
            <h3 class="h2-heading">Room and Stay</h3>
            <a asp-page="/Admin/Bookings/edit/room" asp-route-bookingId="@Model.Input.Booking.Id" class="booking-details-edit-entry">Edit Entry</a>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Check in</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.CheckInDate.ToShortDateString()</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Check out</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.CheckOutDate.ToShortDateString()</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Nights</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.Nights</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Room Type</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.RoomType.Name</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Room Number</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.Room.RoomNumber</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Adults</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.Adults</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Children</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.Children</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Status</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.Status</p>
        </div>

        <div class="booking-details-row">
            <h4 class="booking-details-heading">Notes</h4>
            <p class="booking-details-row-info">@Model.Input.Booking.Notes</p>
        </div>

    </div>

</div>

<div class="d-flex">
    <a href="@Model.Input.PreviousUrl" class="large-btn mt-3 mr-2" style="display: block; width: max-content;">&larr; Back to List</a>
    <a asp-page="/Admin/CheckIn/StepOne" asp-route-bookingId="@Model.Input.Booking.Id" class="large-btn mt-3" style="display: block; width: max-content;">Go To Check In</a>
</div>